doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!--link(rel='stylesheet', href='/content/base.css')-->
    script(src='/scripts/jquery-2.1.4.min.js')
    script(src='/scripts/base.js')
  body
    block content
